<!DOCTYPE html>
<html>
<head>
	<title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body ng-app="eventApp">

<section ng-controller="myCtrl">
	<input type="text" name="bind" ng-model="yellowClr">

		<button type="button" ng-click="demo()"> check </button>
		<ul>
<!--
			
			<li ng-repeat="a in bind | limitTo:2">

				<span>{{ $index+1 }}</span> <span> {{ a }} </span>
			</li>
-->
            
            <li ng-repeat="a in bind | orderBy:'+'">

				<span>{{ $index+1 }}</span> <span> {{ a }} </span>
			</li>
		</ul>

		<div style="background-color: {{ yellowClr }}">sdasdasda</div>
</section>

<script type="text/javascript">
	var app = angular.module('eventApp', []);

	app.controller('myCtrl', function($scope){
		$scope.yellowClr = 'yellow';

		$scope.demo = function(){
			$scope.bind = ['ASP','GHP', 'FHP',2312,124324,54545];	
		}
	});	

</script>
</body>
</html>